<ul class="contact-list {{ include.class }}">

  {% if site.email %}
  <li>
    {% include _icons/email.html username=site.email %}
  </li>
  {% endif %}

  {% if site.curriculum.url %}
  <li>
    {% include _icons/file.html curriculum=site.curriculum %}
  </li>
  {% endif %}

  {% if site.googlescholar_url %}
  <li>
    {% include _icons/googlescholar.html link=site.googlescholar_url %}
  </li>
  {% endif %}

  {% if site.github_url %}
  <li>
    {% include _icons/github.html link=site.github_url %}
  </li>
  {% endif %}

  {% if site.linkedin_url %}
  <li>
    {% include _icons/linkedin.html link=site.linkedin_url %}
  </li>
  {% endif %}

</ul>
