body, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p,
ol, 
ul, 
figure {
  margin-top: 0px; 
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}

h1 { 
  font-size: 30pt; 
  font-weight: 400
}

p { 
  font-size: $base-font-size; 
  line-height: 18pt 
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $text-color;
}

ul, 
ol {
  margin-left: 0.5 * $spacing-unit;
}
 
a {
  color: $brand-color;
  text-decoration: none; 
  &:hover {
    color: $brand-color-dark;
    text-decoration: none;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {

  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @extend %clearfix;
 
  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }

}

.site-nav {
  
  float: left;
  z-index: 1000;
  margin-top: 20px;
  margin-bottom: 20px;

  .page-link {
    font-size: 0.8 * $base-font-size; 
    margin-right: 10pt;
    color: $grey-color-light;
    &:hover {
        color: $grey-color;
        text-decoration: none;
    }
  }

}

.page-content {
  padding: $spacing-unit 0 $spacing-unit 0;
}

.post-content {
  padding-bottom: $spacing-unit;
}

.page-heading {
  margin-top: 0;
}

.about-col-wrapper {
  @extend %clearfix;
}

.about-col {
  float: left;
}

.about-col-1 {

  border: 2pt black;

  text-align: center;
  padding-right: $spacing-unit;
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));

  .user-picture {
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: calc(100%);
  }

  h2 {
    margin-bottom: 4px;
  }

  p {
    font-size: 0.85 * $base-font-size;
    margin: 0;
  }

}

.about-col-2 {
  width: -webkit-calc(70% - (#{$spacing-unit} / 2));
  width:         calc(70% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
  
  .about-col {
    padding: 0;
    float: none;
    width: auto;
  }

  .about-col-1 {
    padding: 5%;
    max-width: 200px;
    margin: auto;
    text-align: center;
  }

  ul {
    margin: 0;
  }

  .user-picture {
    max-width: 200px;
  }

}

.no-version {
  cursor: default;
}

.invisible {
  display: none;
}

 /**
  * Icons
  */
  .icon > svg {
    display: inline-block;
    vertical-align: middle;
  
    circle,
    path:last-of-type {
      fill: $grey-color;
    }
  }