/**
 * Site header
 */
 .site-header {
  
    @include media-query($on-laptop) {
      min-height: 100px;
    }
  
    .site-header-float {
      min-height: 60px;
    }

  }
  
  
  
  .site-nav {
    float: left;
    line-height: 60px;
    z-index: 1000;
  }

  .site-nav a {
    color: $grey-color-light;
    &:hover {
        color: $grey-color;
        text-decoration: none;
      }
  }

  .page-link {font-size: 10pt; margin-right: 10pt}
  
  /**
   * Page content
   */
  .page-content {
    padding: $spacing-unit 0 $spacing-unit 0;
  }
  
  .post-content {
    padding-bottom: $spacing-unit;
  }
  
  .page-heading {
    margin-top: 0;
  }
  
  /**
   * About
   */
  
  .about-col-wrapper {
    @extend %clearfix;
  }
  
  .about-col {
    float: left;
  
    @include media-query($on-palm) {
      float: none;
  
      .contact-list {
        text-align: center;
  
        &:last-of-type {
          margin-bottom: $spacing-unit / 2;
        }
      }
    }
  
  }
  
  .contact-list-title {
    display: none;
  }
  
  .contact-list {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    font-size: 11pt;
  }

  .about-col-1 h2 {font-size: 16pt; margin-top: 10pt; margin-bottom: 0pt;}
  
  .user-picture {
    border-radius: 50%;
    max-width: calc(85%);
  }
  
  .about-col-1 {
    @include size(vsmall);
    padding-right: $spacing-unit / 2;
    width: -webkit-calc(35% - (#{$spacing-unit} / 4));
    width:         calc(35% - (#{$spacing-unit} / 4));
  
  
    .user-picture {
      margin-bottom: 6px;
    }
  
  }
  
  .about-col-2 {
    @include size(small);
    width: -webkit-calc(65% - (#{$spacing-unit} / 4));
    width:         calc(65% - (#{$spacing-unit} / 4));
  
    h1 {
      margin-top: 0;
    }
  }
  
  @include media-query($on-laptop) {
    .about-col {
      @include size(p);
    }
  }
  
  @include media-query($on-palm) {
    .about-col {
      @include size(p);
      padding: 0;
      float: none;
      width: auto;
    }
  
    .about-col-1 {
      padding: 5%;
      max-width: 200px;
      margin: auto;
    }
  
    .contact-list {
      margin: 0;
    }
  
    .user-picture {
      max-width: 200px;
    }
  }
  
  .msg-404 {
    margin-bottom: $spacing-unit;
  
    .title {
      @include size(h1);
      font-family: $alt-font-family;
      color: $brand-color;
    }
  
    .description {
      @include size(h2);
      font-family: $base-font-family;
    }
  }
  
  .no-version {
    cursor: default;
  }
  
  .invisible {
    display: none;
  }