---
layout: default
---

<div class="about-col-wrapper">

  <div class="about-col about-col-1">

    <img class="user-picture" src="https://github.com/alexgdebeer.png">

    <h2>Alex de Beer</h2>

    <p>
      <a href="mailto:{{site.email}}">Email</a>, 
      <a target="_blank" href="{{ site.curriculum.url }}">CV</a>, 
      <a target="_blank" href="{{ site.googlescholar_url }}"><span class="username">Scholar</span></a>,
    </p> 

    <p>
      <a target="_blank" href="{{ site.github_url }}" title="Github"><span class="username">GitHub</span></a>, 
      <a target="_blank" href="{{ site.linkedin_url }}" title="Linkedin"><span class="username">LinkedIn</span></a>
    </p>

  </div>

  <article class="about-col about-col-2" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </article>

</div>